@import './variable.scss';
@import '@/styles/actionbar';

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

//region 左边
.logo-wrapper {
  position: relative;
  height: $actionBarHeight;
  background: var(--el-bg-color);
  border-bottom: 1px solid var(--el-border-color);
  box-sizing: border-box;

  .logo {
    position: absolute;
    left: 12px;
    top: 6px;
    line-height: 30px;
    color: #00afff;
    font-weight: 550;
    font-size: 16px;
    white-space: nowrap;

    > img {
      width: 30px;
      height: 30px;
      vertical-align: top;
    }

    .github {
      display: inline-block;
      vertical-align: sub;
      margin-left: 15px;

      > img {
        height: 22px;
      }
    }
  }
}

.left-board {
  width: $leftBoardWidth;
  left: 0;
  top: 0;
  height: 100vh;
}

.left-scrollbar {
  height: calc(100vh - $actionBarHeight) !important;
  width: $leftBoardWidth;
  // overflow: auto!important;


  .components-list {
    padding: 8px;
    box-sizing: border-box;
    .components-draggable {
      padding-bottom: 20px;

      .components-item {
        display: inline-block;
        width: 48%;
        margin: 1%;
        transition: transform 0ms !important;
        .form-item{
          background: var(--el-color-primary-light-7)!important;
        }
        .components-body {
          padding: 8px 10px;
          background: var(--el-color-primary-light-9);
          font-size: 12px;
          cursor: move;
          border: 1px dashed var(--el-border-color-light);
          border-radius: 3px;

          .svg-icon {
            color: var(--el-text-color-regular);
            font-size: 15px;
          }

          &:hover {
            border: 1px dashed var(--el-border-color-darker);
            color: var(--el-color-primary);

            .svg-icon {
              color: var(--el-color-primary);
            }

            .subtag-item {
              background-color: var(--el-color-primary-light-8);

            }
          }

          .subtag-item {
            float: right;
            cursor: pointer;
            margin-top: -8px;
            margin-right: -9px
          }
        }
      }

      &.sortable-ghost {
        &::before {
          content: " ";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          height: 3px;
          background: rgb(89, 89, 223);
          z-index: 2;
        }
      }
    }
  }


}

//endregion


//中部开始

.center-board {
  flex: 1;
  height: 100vh;
  box-sizing: border-box;

  @include action-bar;
  .center-scrollbar {
    height: calc(100vh - $actionBarHeight) !important;
    padding: 10px;
    overflow-y: auto;
    border-left: 1px solid var(--el-border-color);
    border-right: 1px solid var(--el-border-color);
    box-sizing: border-box;

    .empty-info {
      position: absolute;
      top: 46%;
      left: 0;
      right: 0;
      text-align: center;
      font-size: 18px;
      color: #ccb1ea;
      letter-spacing: 4px;
    }
    .activeToolbar{
      position: fixed; left: 400px; z-index: 3;
    }
  }
}







