@import './variable.scss';


//fixme 这些类名以后再改吧

.drawing-item {
  position: relative;
  cursor: move;
  box-sizing: border-box;
  border: 1px dashed transparent;
  border-radius: 3px;
  //padding: 0 2px;
  //margin-bottom: 15px;

  &.selected-draw-item {
    border: 1px dashed $lighterBlue;
  }
  &.unselected-draw-item{
    border: 1px dashed lightgray;
  }

}
.selected-raw-item .drawing-item {
  @extend .drawing-item, .selected-draw-item
}
.raw-item .drawing-item {
  @extend .drawing-item, .unselected-draw-item
}