@import './variable.scss';


.drawing-item {
  position: relative;
  cursor: move;
  box-sizing: border-box;
  border: 1px dashed transparent;
  border-radius: 3px;
  //padding: 0 2px;
  //margin-bottom: 15px;

  &.active-draw-item {
    border: 1px dashed $lighterBlue;
  }
  &.unfocus-bordered{
    border: 1px dashed lightgray;
  }

}
